<div class="home">
  <app-sidebar class="menu"></app-sidebar>

  <main class="home__principal">
    <app-header-step></app-header-step>
    <section class="home__subtitle">
      <h2 class="home__title">Café</h2>
      <p class="home__description">Elije y personaliza tu pedido a continuacion</p>
    </section>

    <section class="products products__grid">
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
    </section>

  </main>
</div>
